.movie {
    background-color: #F9F9F9;
    margin: 40px 70px;
    display: flex;
    justify-content: space-between;
}

.movie:first-child {
    margin-top: 70px;
}

.movie:last-child {
    margin-bottom: 0;
}

.movie__info {
    margin: 22px 0 0 22px;
    display: flex;
    flex-direction: column;
}

.movie__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.movie__duration {
    display: inline-block;
    color: #A0A0A0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 13px 0 30px;
}

.button__like {
    border: none;
    background-color: transparent;
    background-image: url('../../images/like.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
}

.button__like:hover {
    cursor: pointer;
    opacity: .8;
    transition: .3s ease-out;
}

.button__dislike {
    background-image: url('../../images/noneLike.svg');
}

.button__delete {
    background-image: url('../../images/delete.svg');
}

.movie__image {
    width: 220px;
    height: 122px;
    margin: 6px;
}

@media screen and (max-width: 850px) {
    .movie {
        margin: 40px 30px;
    }

    .movie__info {
        margin: 24px 0 0 22px;
    }
}

@media screen and (max-width: 550px) {
    .movie {
        flex-direction: column-reverse;
        align-items: center;
        margin: 18px 10px;
    }

    .movie:first-child {
        margin-top: 76px;
    }

    .movie__image {
        width: 300px;
        height: 168px;
        margin: 0;
    }

    .movie__info {
        margin: 14px 12px;
        display: grid;
        width: 100%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .movie__title {
        font-size: 12px;
        line-height: 15px;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 12px;
    }

    .movie__duration {
        margin: 6px 0 0 12px;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .button__like {
        grid-column-start: 2;
        justify-self: right;
        margin: 3px 16px 0 0;
    }
}