.menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

.menu_opened {
    display: block;
    z-index: 2;
}

.menu__container {
    width: 520px;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__button {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 22px;
    right: 22px;
    padding: 0;
}

.menu__button-close {
    width: 30px;
}

.menu__button-close:hover {
    opacity: .8;
    cursor: pointer;
    transition: .3s ease-out;
}

.menu__elements {
    text-align: center;
    margin-top: 162px;
    padding-bottom: 614px;
}

.menu__element {
    margin: 24px 0 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 0 0 4px;
    position: relative;
}

.menu__element:first-child {
    margin: 0;
}

.menu__element:hover {
    opacity: .7;
    cursor: pointer;
    transition: .3s ease-out;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.menu__element-link {
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 900px) {
    .menu__elements  {
        padding-bottom: 300px;
    }
}

@media screen and (min-width: 901px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .menu__container {
        width: 100%;
        margin-top: 0;
        padding-bottom: 250px;
    }
}

@media screen and (max-width: 350px) {
    .menu__container {
        padding-bottom: 438px;
    }

    .menu__button {
        top: 14px;
        right: 14px;
    }

    .menu__elements {
        margin-top: 146px;
        padding-bottom: 436px;
    }

    .menu__element {
        margin: 20px 0 0;
    }
}