.error-register {
    display: none;
    text-align: center;
    transition: all 0.3s;
    position: relative;
}

.error-register_active {
    display: block;
    bottom: 180px;
    max-width: 392px;
    margin: 0 auto;
    transition: all 0.3s;
}

.error-register__button {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.error-register__button:hover {
    opacity: .8;
    cursor: pointer;
    transition: .3s ease-out;
}

.error-register__button-close {
    width: 14px;
}

.error-register__message {
    color: #EE3465;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
}

.error-register__message_success {
    color: rgb(43,224,128);
}